body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  background-color: #fae4ce;
  color: white;
}

.header {
  /* background-color: #fae4ce; */
  text-align: center;
  padding-top: 2em;
  padding-left: 4em;
  font-weight: bold;
  color: white;
}

.hero-section {
  margin: 5%;
  margin-bottom: 10%;
}

.title {
  text-align: start;
  font-size: 3em;
  text-shadow: 5px 5px 3px #000c0f;
}

.background-image {
  background-image: url("/pics/vscode.png");
  height: 70vh;
  max-width: 100%;
  box-shadow: 10px 10px 3px #5c544b;
  /* background-attachment: fixed; */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 5%; */
}

.about-me {
  margin: 5%;
}

.heading {
  text-align: left;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 5px 5px 3px #5c544b;
}
